.resume-header {
    height: 250px;
    background-color: #272727;
    font-family: 'Roboto';
}

.header-pic {
    background-image: url("pp.jpeg");
    background-size: cover;
    background-position: right;
    width: 250px;
}

.loaded {
    background-color: #272727;
    border-bottom: #272727 solid 3px;
    border-top: #272727 solid 3px;
    height: 8px;
    width: 16px;
}

.loading {
    background-color: #DADADA;
    border-bottom: #272727 solid 3px;
    border-top: #272727 solid 3px;
    height: 8px;
    width: 16px;
}

.load-end {
    border-right: #272727 solid 3px;
}