.resume-header {
    height: 250px;
    background-color: #272727;
    font-family: 'Roboto';
}

.header-pic {
    background-image: url("pp.jpeg");
    background-size: cover;
    background-position: right;
    width: 250px;
}
