.flx {
    display: flex;

    &-jc {
        justify-content: center;

        &-rnd {
            justify-content: space-around;
        }

        &-btn {
            justify-content: space-between;
        }

        &-left {
            justify-content: left;
        }

        &-right {
            justify-content: right;
        }
    }

    &-ai {
        align-items: center;

        &-top {
            align-items: top;
        }

        &-bottom {
            align-items: bottom;
        }
    }

    &-drc {
        flex-direction: column;
     }
}
