.h {
    &-100p {
        height: 100%;
    }

    &-auto {
        height: auto;
    }

    &-80 {
        height: 80px;
    }

    &-160 {
        height: 160px;
    }

    &-240 {
        height: 240px;
    }

    &-320 {
        height: 320px;
    }

    &-400 {
        height: 400px;
    }

    &-480 {
        height: 480px;
    }

    &-560 {
        height: 560px;
    }

    &-640 {
        height: 640px;
    }

    &-720 {
        height: 720px;
    }

    &-800 {
        height: 800px;
    }
}