.p {
    &-8 {
        padding: 8px;
    }

    &-16 {
        padding: 16px;
    }

    &-24 {
        padding: 24px;
    }

    &-32 {
        padding: 32px;
    }

    &-40 {
        padding: 40px;
    }

    &t {
        &-8 {
            padding-top: 8px;
        }

        &-16 {
            padding-top: 16px;
        }

        &-24 {
            padding-top: 24px;
        }

        &-32 {
            padding-top: 32px;
        }

        &-40 {
            padding-top: 40px;
        }
    }

    &b {
        &-8 {
            padding-bottom: 8px;
        }

        &-16 {
            padding-bottom: 16px;
        }

        &-24 {
            padding-bottom: 24px;
        }

        &-32 {
            padding-bottom: 32px;
        }

        &-40 {
            padding-bottom: 40px;
        }
    }

    &l {
        &-8 {
            padding-left: 8px;
        }

        &-16 {
            padding-left: 16px;
        }

        &-24 {
            padding-left: 24px;
        }

        &-32 {
            padding-left: 32px;
        }

        &-40 {
            padding-left: 40px;
        }
    }

    &r {
        &-8 {
            padding-right: 8px;
        }

        &-16 {
            padding-right: 16px;
        }

        &-24 {
            padding-right: 24px;
        }

        &-32 {
            padding-right: 32px;
        }

        &-40 {
            padding-right: 40px;
        }
    }
}