.txt {
    /*Colors*/
    &-black {
        color: #272727;
    }

    &-white {
        color: #DADADA;
    }

    &-grey {
        color: #393e46;
    }

    /*size*/

    &-giant {
        font-size: 40px;
    }

    &-big {
        font-size: 32px;
    }

    &-medium {
        font-size: 24px;
    }

    &-small {
        font-size: 16px;
    }

    &-minimal {
        font-size: 8px;
    }

    /*family*/
    &-roboto {
        font-family: 'Roboto';
    }

    /*align*/
    &-center {
        text-align: center;
     }
}