.w {
    &-100p {
        width: 100%;
    }

    &-auto {
        width: auto;
    }

    &-20vw {
        width: 20vw;
    }

    &-40vw {
        width: 40vw;
    }

    &-60vw {
        width: 60vw;
    }

    &-80vw {
        width: 80vw;
    }

    &-100vw {
        width: 100vw;
    }

    &-80 {
        width: 80px;
    }

    &-160 {
        width: 160px;
    }

    &-240 {
        width: 240px;
    }

    &-320 {
        width: 320px;
    }

    &-400 {
        width: 400px;
    }

    &-480 {
        width: 480px;
    }

    &-560 {
        width: 560px;
    }

    &-640 {
        width: 640px;
    }

    &-720 {
        width: 720px;
    }

    &-800 {
        width: 800px;
    }
}