<div class="resume-header flx">
  <div class="header-pic"></div>
  <div class="flx flx-jc-btn w-100p mr-24">
    <div class="header-main ml-24 txt-white txt-roboto flx flx-drc flx-jc-btn h-100p">
      <div class="txt-center">
        <h1 class="txt-big">VINICIUS COSTA</h1>
        <p class="txt-medium">Full Stack Developer</p>
      </div>
      <div>
        <p class="ml-8"><i class="far fa-envelope"></i><span class="ml-8">vmfrcosta@gmail.com</span></p>
        <p class="ml-8"><i class="fas fa-mobile-alt"></i><span class="ml-8">+55 11 9 9612 5717</span></p>
      </div>
    </div>
    <div class="header-contact txt-white txt-small">
      <p><i class="fab fa-linkedin"></i> <%= link_to "linkedin.com/in/vinicius-costa-2aa5b661", "https://www.linkedin.com/in/vinicius-costa-2aa5b661/", target: "_blank" %></p>
      <p><i class="fab fa-github"></i> <%= link_to "github.com/vmfrcosta", "https://github.com/vmfrcosta", target: "_blank" %></p>
      <p><i class="fab fa-instagram"></i> <%= link_to "@vmfrcosta", "https://www.instagram.com/vmfrcosta/", target: "_blank" %></p>
    </div>
  </div>
</div>
<div class="container">

</div>