<div class="resume-header flx">
  <div class="header-pic"></div>
  <div class="header-main ml-24 txt-white txt-roboto">
    <h1 class="txt-big">VINICIUS COSTA</h1>
    <p class="txt-small">Full Stack Developer</p>
  </div>
  <div class="header-contact">

  </div>
</div>