<div class="resume-header flx">
  <div class="header-pic"></div>
  <div class="flx flx-jc-btn w-100p mr-24">
    <div class="header-main ml-24 txt-white txt-roboto flx flx-drc flx-jc-btn h-100p">
      <div class="txt-center">
        <h1 class="txt-big">VINICIUS COSTA</h1>
        <p class="txt-medium">Full Stack Developer</p>
      </div>
      <div>
        <p class="ml-8"><i class="far fa-envelope"></i><span class="ml-8">vmfrcosta@gmail.com</span></p>
        <p class="ml-8"><i class="fas fa-mobile-alt"></i><span class="ml-8">+55 11 9 9612 5717</span></p>
      </div>
    </div>
    <div class="header-contact txt-white txt-small flx flx-drc flx-jc-rnd mt-24 mb-24">
      <p><i class="fab fa-github"></i> <span class="ml-8"><%= link_to "github.com/vmfrcosta", "https://github.com/vmfrcosta", target: "_blank" %></span></p>
      <p><i class="fab fa-linkedin"></i> <span class="ml-8"><%= link_to "linkedin.com/in/vinicius-costa-2aa5b661", "https://www.linkedin.com/in/vinicius-costa-2aa5b661/", target: "_blank" %></span></p>
      <p><i class="fab fa-codepen"></i> <span class="ml-8"><%= link_to "codepen.io/vmfrcosta", "https://codepen.io/vmfrcosta", target: "_blank" %></span></p>
      <p><i class="fab fa-instagram"></i> <span class="ml-8"><%= link_to "@vmfrcosta", "https://www.instagram.com/vmfrcosta/", target: "_blank" %></span></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="brd-b mt-32">
    <h2 class="ml-16 txt-medium">Carrer Summary</h2>
  </div>
  <p class="ml-16 txt-grey"></p>
</div>
<div class="container flx">
  <div class="main-infos w-80vw">
    <div class="brd-b mt-32 mr-32">
      <h2 class="ml-16 txt-medium">Work Experience</h2>
    </div>
  </div>
  <div class="side-infos w-20vw txt-medium">
    <div class="brd-b mt-32">
      <h2 class="ml-16 txt-medium">Skills & Tools</h2>
    </div>
    <p>Front-end</p>
    <p class="txt-grey txt-small">CSS</p>
    <div class="flx">
      <div class="loaded"></div>
      <div class="loaded"></div>
      <div class="loaded"></div>
      <div class="loaded"></div>
      <div class="loaded"></div>
      <div class="loaded"></div>
      <div class="loaded"></div>
      <div class="loading"></div>
      <div class="loading"></div>
      <div class="loading load-end"></div>
    </div>
  </div>
</div>